@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="~/login.css">
    <title>Сброс пароля</title>
</head>
<body>
    <div class="background"></div>
    <form action="/Authorization/ForgotPassword" method="post" class="login-form">
        <h3>Восстановление пароля</h3>

        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="error-message">
                <p>@ViewData["ErrorMessage"]</p>
            </div>
        }

        <label for="email">Email</label>
        <input type="email" name="Email" id="email" required placeholder="Введите вашу почту">

        <div class="reg-button">
            <button type="submit">Отправить код</button>
        </div>
    </form>
</body>
</html>
