@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="~/login.css">
    <title>Вход</title>
</head>
<body>
    <div class="background"></div>
    <form action="/Authorization/Login" method="post" class="login-form">
        <h3>Войти</h3>

        <!-- Блок для отображения ошибок -->
        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="error-message">
                <p>@ViewData["ErrorMessage"]</p>
            </div>
        }

        <label for="username">Логин</label>
        <input type="text" placeholder="Логин" name="Username" id="username">

        <label for="password">Пароль</label>
        <input type="password" placeholder="Пароль" name="Password" id="password">

        <div class="reg-button">
            <button type="submit">Войти</button>
        </div>
        <p class="forgot-password"><a href="/Authorization/ForgotPassword">Забыли пароль?</a></p>
        <div class="reg-button">
            <a href="/Authorization/Register" target="_blank">Регистрация</a>
        </div>
    </form>

    <!-- Social login icons -->
    <div class="social">
        <!-- Это будет кнопка авторизации, которую Яндекс генерирует, или любая ваша кнопка -->
        <button id="yandexAuthButton" class="yandex-button">Y</button>
    </div>

    <script src="~/login.js"></script>
</body>
</html>
